In [1]:
import pandas as pd
import glob
import requests
import sqlite3

In [2]:
# Load Teams API data
teams_json = requests.get('https://site.api.espn.com/apis/site/v2/sports/football/nfl/teams').json()
teams = teams_json['sports'][0]['leagues'][0]['teams']

team_dict = []

for t in teams:
    team_dict.append({
        'id': t['team']['id'],
        'color': t['team']['color'],
        'alternateColor': t['team']['color'],
        'logo': t['team']['logos'][0]['href'],
        'abbreviation': t['team']['abbreviation'],
        'displayName': t['team']['displayName'],
        'location': t['team']['location'],
        'name': t['team']['name'],
        'nickname': t['team']['nickname'],
        'shortDisplayName': t['team']['shortDisplayName'],
    })

# Create Teams DataFrame using team abbreviations as index
team_df = pd.DataFrame(team_dict).set_index('abbreviation')
team_df

,id,color,alternateColor,logo,displayName,location,name,nickname,shortDisplayName
abbreviation,,,,,,,,,
ARI,22,a4113e,a4113e,https://a.espncdn.com/i/teamlogos/nfl/500/ari.png,Arizona Cardinals,Arizona,Cardinals,Cardinals,Cardinals
ATL,1,a71930,a71930,https://a.espncdn.com/i/teamlogos/nfl/500/atl.png,Atlanta Falcons,Atlanta,Falcons,Falcons,Falcons
BAL,33,29126f,29126f,https://a.espncdn.com/i/teamlogos/nfl/500/bal.png,Baltimore Ravens,Baltimore,Ravens,Ravens,Ravens
BUF,2,00338d,00338d,https://a.espncdn.com/i/teamlogos/nfl/500/buf.png,Buffalo Bills,Buffalo,Bills,Bills,Bills
CAR,29,0085ca,0085ca,https://a.espncdn.com/i/teamlogos/nfl/500/car.png,Carolina Panthers,Carolina,Panthers,Panthers,Panthers
CHI,3,0b1c3a,0b1c3a,https://a.espncdn.com/i/teamlogos/nfl/500/chi.png,Chicago Bears,Chicago,Bears,Bears,Bears
CIN,4,fb4f14,fb4f14,https://a.espncdn.com/i/teamlogos/nfl/500/cin.png,Cincinnati Bengals,Cincinnati,Bengals,Bengals,Bengals
CLE,5,472a08,472a08,https://a.espncdn.com/i/teamlogos/nfl/500/cle.png,Cleveland Browns,Cleveland,Browns,Browns,Browns
DAL,6,002a5c,002a5c,https://a.espncdn.com/i/teamlogos/nfl/500/dal.png,Dallas Cowboys,Dallas,Cowboys,Cowboys,Cowboys
DEN,7,0a2343,0a2343,https://a.espncdn.com/i/teamlogos/nfl/500/den.png,Denver Broncos,Denver,Broncos,Broncos,Broncos
DET,8,0076b6,0076b6,https://a.espncdn.com/i/teamlogos/nfl/500/det.png,Detroit Lions,Detroit,Lions,Lions,Lions
GB,9,204e32,204e32,https://a.espncdn.com/i/teamlogos/nfl/500/gb.png,Green Bay Packers,Green Bay,Packers,Packers,Packers
HOU,34,00143f,00143f,https://a.espncdn.com/i/teamlogos/nfl/500/hou.png,Houston Texans,Houston,Texans,Texans,Texans
IND,11,003b75,003b75,https://a.espncdn.com/i/teamlogos/nfl/500/ind.png,Indianapolis Colts,Indianapolis,Colts,Colts,Colts
JAX,30,007487,007487,https://a.espncdn.com/i/teamlogos/nfl/500/jax.png,Jacksonville Jaguars,Jacksonville,Jaguars,Jaguars,Jaguars
KC,12,e31837,e31837,https://a.espncdn.com/i/teamlogos/nfl/500/kc.png,Kansas City Chiefs,Kansas City,Chiefs,Chiefs,Chiefs
LV,13,000000,000000,https://a.espncdn.com/i/teamlogos/nfl/500/lv.png,Las Vegas Raiders,Las Vegas,Raiders,Raiders,Raiders
LAC,24,0080c6,0080c6,https://a.espncdn.com/i/teamlogos/nfl/500/lac.png,Los Angeles Chargers,Los Angeles,Chargers,Chargers,Chargers
LAR,14,003594,003594,https://a.espncdn.com/i/teamlogos/nfl/500/lar.png,Los Angeles Rams,Los Angeles,Rams,Rams,Rams
MIA,15,008e97,008e97,https://a.espncdn.com/i/teamlogos/nfl/500/mia.png,Miami Dolphins,Miami,Dolphins,Dolphins,Dolphins
MIN,16,4f2683,4f2683,https://a.espncdn.com/i/teamlogos/nfl/500/min.png,Minnesota Vikings,Minnesota,Vikings,Vikings,Vikings
NE,17,002a5c,002a5c,https://a.espncdn.com/i/teamlogos/nfl/500/ne.png,New England Patriots,New England,Patriots,Patriots,Patriots
NO,18,d3bc8d,d3bc8d,https://a.espncdn.com/i/teamlogos/nfl/500/no.png,New Orleans Saints,New Orleans,Saints,Saints,Saints
NYG,19,003c7f,003c7f,https://a.espncdn.com/i/teamlogos/nfl/500/nyg.png,New York Giants,New York,Giants,Giants,Giants
NYJ,20,115740,115740,https://a.espncdn.com/i/teamlogos/nfl/500/nyj.png,New York Jets,New York,Jets,Jets,Jets
PHI,21,06424d,06424d,https://a.espncdn.com/i/teamlogos/nfl/500/phi.png,Philadelphia Eagles,Philadelphia,Eagles,Eagles,Eagles
PIT,23,000000,000000,https://a.espncdn.com/i/teamlogos/nfl/500/pit.png,Pittsburgh Steelers,Pittsburgh,Steelers,Steelers,Steelers
SF,25,aa0000,aa0000,https://a.espncdn.com/i/teamlogos/nfl/500/sf.png,San Francisco 49ers,San Francisco,49ers,49ers,49ers
SEA,26,002a5c,002a5c,https://a.espncdn.com/i/teamlogos/nfl/500/sea.png,Seattle Seahawks,Seattle,Seahawks,Seahawks,Seahawks
TB,27,bd1c36,bd1c36,https://a.espncdn.com/i/teamlogos/nfl/500/tb.png,Tampa Bay Buccaneers,Tampa Bay,Buccaneers,Buccaneers,Buccaneers
TEN,10,4b92db,4b92db,https://a.espncdn.com/i/teamlogos/nfl/500/ten.png,Tennessee Titans,Tennessee,Titans,Titans,Titans
WSH,28,5a1414,5a1414,https://a.espncdn.com/i/teamlogos/nfl/500/wsh.png,Washington Commanders,Washington,Commanders,Commanders,Commanders

In [3]:
# load 2024 games DF
games_df = pd.concat(map(pd.read_csv, glob.glob(f'data/nfl-big-data-bowl-2024/games.csv')))

games_df['homeTeamAbbr'] = games_df['homeTeamAbbr'].replace('LA', 'LAR').replace('WAS', 'WSH')
games_df['visitorTeamAbbr'] = games_df['visitorTeamAbbr'].replace('LA', 'LAR').replace('WAS', 'WSH')

games_df = games_df.set_index('gameId')
games_df.head()

,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
gameId,,,,,,,,
2022090800,2022,1,09/08/2022,20:20:00,LAR,BUF,10,31
2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [4]:
# plays_df = pd.concat(map(pd.read_csv, glob.glob(f'data/nfl-big-data-bowl-*/plays.csv')))
# Import 2024 Plays DF
plays_df = pd.read_csv('data/nfl-big-data-bowl-2024/plays.csv')

plays_df['possessionTeam'] = plays_df['possessionTeam'].replace('LA', 'LAR').replace('WAS', 'WSH')
plays_df['defensiveTeam'] = plays_df['defensiveTeam'].replace('LA', 'LAR').replace('WAS', 'WSH')
plays_df['converted'] = (plays_df['playResult'] > plays_df['yardsToGo'])

plays_df.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2,converted
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,...,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN,False
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN,False
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,...,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN,True
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN,False
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN,False

In [5]:
# Concatenate GameId and PlayID to create a unique ID for plays across games
# The dataset re-uses playid values across games
plays_df['play_uuid'] = plays_df['gameId'].astype(str) + '.' + plays_df['playId'].astype(str)
plays_df = plays_df.set_index('play_uuid')
plays_df.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2,converted
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022100908.3537,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,...,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN,False
2022091103.3126,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN,False
2022091111.1148,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,...,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN,True
2022100212.2007,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN,False
2022091900.1372,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN,False

In [6]:
players_df = pd.read_csv('data/nfl-big-data-bowl-2024/players.csv').set_index('nflId')
players_df.head()

      height  weight   birthDate     collegeName position     displayName
nflId
25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [7]:
# (GITHUB COLAB AI) 
# prompt: load all CSV files with a name like "tracking_week_" into a tracking_df dataframe
import glob
tracking_df = pd.concat(map(pd.read_csv, glob.glob(f'data/nfl-big-data-bowl-2024/*week*.csv')))

In [8]:
# generate same Play-UUID for frame lookup
tracking_df['play_uuid'] = tracking_df['gameId'].astype(str) + '.' + tracking_df['playId'].astype(str)
tracking_df['play_uuid'].head()

0    2022100600.90
1    2022100600.90
2    2022100600.90
3    2022100600.90
4    2022100600.90
Name: play_uuid, dtype: object

In [9]:
# Filter tracking_df for the Ball Snap Frames
ball_snap_df = tracking_df.loc[(tracking_df['event'] == 'ball_snap')] # Duplicate plays - drop autoevent | (tracking_df['event'] == 'autoevent_ballsnap')]
ball_snap_df.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,play_uuid
5,2022100600,90,33084.0,Matt Ryan,6,2022-10-06 20:17:05.299999,2.0,IND,left,90.26,23.69,0.20,0.14,0.04,274.45,250.64,ball_snap,2022100600.90
65,2022100600,90,35459.0,Kareem Jackson,6,2022-10-06 20:17:05.299999,22.0,DEN,left,72.17,16.80,0.48,0.94,0.05,119.60,125.33,ball_snap,2022100600.90
125,2022100600,90,42030.0,K'Waun Williams,6,2022-10-06 20:17:05.299999,21.0,DEN,left,80.22,31.04,3.41,2.96,0.35,128.25,199.16,ball_snap,2022100600.90
185,2022100600,90,42393.0,Ronald Darby,6,2022-10-06 20:17:05.299999,23.0,DEN,left,76.83,36.25,0.04,0.14,0.01,73.29,206.98,ball_snap,2022100600.90
245,2022100600,90,43307.0,Ryan Kelly,6,2022-10-06 20:17:05.299999,78.0,IND,left,85.75,23.80,0.08,0.38,0.01,252.44,311.45,ball_snap,2022100600.90

In [12]:
play_ids = plays_df.index.unique()
play_ids

Index(['2022100908.3537', '2022091103.3126', '2022091111.1148',
       '2022100212.2007', '2022091900.1372', '2022103001.2165',
       '2022100207.2933', '2022102310.56', '2022102310.1318',
       '2022092511.2903',
       ...
       '2022110607.2806', '2022102307.1224', '2022100213.811',
       '2022092504.2509', '2022100910.105', '2022100204.123',
       '2022091200.3467', '2022101605.3371', '2022100207.2777',
       '2022102308.905'],
      dtype='object', name='play_uuid', length=12486)

In [13]:
position_counts = ball_snap_df[['play_uuid', 'nflId']].groupby('play_uuid').count()
snap_ids = position_counts.loc[(position_counts['nflId'] == 22)].index
snap_ids

Index(['2022090800.101', '2022090800.1187', '2022090800.1254',
       '2022090800.1385', '2022090800.1406', '2022090800.146',
       '2022090800.1736', '2022090800.191', '2022090800.1946',
       '2022090800.2043',
       ...
       '2022110700.3787', '2022110700.403', '2022110700.443', '2022110700.493',
       '2022110700.546', '2022110700.612', '2022110700.670', '2022110700.80',
       '2022110700.929', '2022110700.950'],
      dtype='object', name='play_uuid', length=6323)

In [14]:
flat_frames_dict = []

for play in snap_ids:
    play_frame = ball_snap_df.loc[(ball_snap_df['play_uuid'] == play)]
    frame_dict = {'play_uuid': play}

    for i in range(len(play_frame)):
        frame_dict['x' + str(i)] = play_frame.iloc[i]['x']
        frame_dict['y' + str(i)] = play_frame.iloc[i]['y']
        frame_dict['s' + str(i)] = play_frame.iloc[i]['s']
        frame_dict['a' + str(i)] = play_frame.iloc[i]['a']
        frame_dict['dis' + str(i)] = play_frame.iloc[i]['dis']
        if i<22:
            frame_dict['o' + str(i)] = play_frame.iloc[i]['o']
            frame_dict['dir' + str(i)] = play_frame.iloc[i]['dir']
    
    flat_frames_dict.append(frame_dict)

transposed_frames_df = pd.DataFrame(flat_frames_dict).set_index('play_uuid')

In [15]:
# flat_frames_dict = []

# for play in all_22_play_ids:
#     play_frame = ball_snap_df.loc[(ball_snap_df['play_uuid'] == play)]
#     frame_dict = {'play_uuid': play}

#     for i in range(23):
#         nflId = play_frame.iloc[i]['nflId']
#         if nflId == nflId:
#             player = players_df.loc[int(nflId)]
#             player_position = player['position']
#         else:
#             player_position = 'football'

#         frame_dict['x_' + player_position] = play_frame.iloc[i]['x']
#         frame_dict['y_' + player_position] = play_frame.iloc[i]['y']
#         frame_dict['s_' + player_position] = play_frame.iloc[i]['s']
#         frame_dict['a_' + player_position] = play_frame.iloc[i]['a']
#         frame_dict['dis_' + player_position] = play_frame.iloc[i]['dis']
#         if i<22:
#             frame_dict['o_' + player_position] = play_frame.iloc[i]['o']
#             frame_dict['dir_' + player_position] = play_frame.iloc[i]['dir']
    
#     flat_frames_dict.append(frame_dict)

# transposed_frames_df = pd.DataFrame(flat_frames_dict)

In [16]:
transposed_frames_df

,x0,y0,s0,a0,dis0,o0,dir0,x1,y1,s1,...,s21,a21,dis21,o21,dir21,x22,y22,s22,a22,dis22
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022090800.101,73.13,27.67,0.10,1.14,0.02,273.97,348.75,67.35,29.96,0.07,...,0.00,0.00,0.00,267.12,339.31,72.040001,29.520000,0.04,0.29,0.01
2022090800.1187,71.72,29.54,0.05,0.85,0.01,272.46,55.53,69.25,24.99,0.14,...,0.94,0.81,0.09,87.20,10.33,70.070000,29.610001,0.00,0.00,0.01
2022090800.1254,59.81,23.63,0.00,0.00,0.00,272.98,143.12,42.18,36.75,0.65,...,0.04,0.04,0.02,131.60,216.90,54.689999,23.879999,0.00,0.00,0.00
2022090800.1385,36.64,29.50,0.08,0.88,0.01,273.91,130.33,34.44,33.93,0.49,...,0.00,0.00,0.03,49.70,91.93,34.990002,29.730000,0.00,0.00,0.00
2022090800.1406,18.65,23.35,0.25,1.67,0.02,278.66,52.44,16.13,28.06,0.40,...,0.32,0.18,0.03,117.94,100.45,17.389999,23.340000,0.02,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022110700.612,73.37,25.06,0.11,0.58,0.01,281.51,254.24,74.11,36.43,0.06,...,0.22,0.56,0.02,240.21,321.26,72.830002,29.920000,0.00,0.00,0.00
2022110700.670,82.37,19.86,0.29,1.71,0.02,256.40,302.59,80.80,22.52,0.13,...,0.00,0.00,0.04,172.38,162.23,81.779999,23.889999,0.00,0.00,0.00
2022110700.80,69.07,27.04,0.04,0.23,0.01,62.17,44.09,68.68,35.34,0.09,...,0.00,0.00,0.00,281.95,290.97,70.260002,29.990000,0.62,3.42,0.07
2022110700.929,76.34,35.18,0.00,0.08,0.00,95.97,142.30,77.70,31.41,0.08,...,0.60,0.76,0.05,174.30,226.59,77.029999,29.830000,0.00,0.00,0.01
2022110700.950,81.67,27.18,6.51,2.04,0.66,194.03,163.64,72.12,34.03,0.02,...,1.84,0.33,0.18,336.80,282.14,73.110001,29.900000,0.00,0.00,0.00

In [17]:
len(plays_df)

12486

In [18]:
transposed_frame_conversions_df = transposed_frames_df.merge(plays_df['converted'], on='play_uuid', how='left')
transposed_frame_conversions_df.head()

,x0,y0,s0,a0,dis0,o0,dir0,x1,y1,s1,...,a21,dis21,o21,dir21,x22,y22,s22,a22,dis22,converted
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022090800.101,73.13,27.67,0.10,1.14,0.02,273.97,348.75,67.35,29.96,0.07,...,0.00,0.00,267.12,339.31,72.040001,29.520000,0.04,0.29,0.01,False
2022090800.1187,71.72,29.54,0.05,0.85,0.01,272.46,55.53,69.25,24.99,0.14,...,0.81,0.09,87.20,10.33,70.070000,29.610001,0.00,0.00,0.01,False
2022090800.1254,59.81,23.63,0.00,0.00,0.00,272.98,143.12,42.18,36.75,0.65,...,0.04,0.02,131.60,216.90,54.689999,23.879999,0.00,0.00,0.00,False
2022090800.1385,36.64,29.50,0.08,0.88,0.01,273.91,130.33,34.44,33.93,0.49,...,0.00,0.03,49.70,91.93,34.990002,29.730000,0.00,0.00,0.00,True
2022090800.1406,18.65,23.35,0.25,1.67,0.02,278.66,52.44,16.13,28.06,0.40,...,0.18,0.03,117.94,100.45,17.389999,23.340000,0.02,0.02,0.00,False

In [19]:
# Write data to Sqlite
conn = sqlite3.connect('data/sqlite/nfl_data.sqlite')

In [20]:
team_df.to_sql('teams',conn,if_exists='replace', index='abbreviation')

32

In [21]:
games_df.to_sql('games',conn,if_exists='replace', index='gameId')

136

In [22]:
plays_df.to_sql('plays',conn,if_exists='replace', index='play_uuid')

12486

In [23]:
players_df.to_sql('players', conn, if_exists='replace', index='nflId')

1683

In [24]:
#tracking_df.to_sql('tracking', conn, if_exists='replace')

In [25]:
transposed_frames_df.to_sql('snap_formations', conn, if_exists='replace', index='play_uuid')

6323