In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [6]:
matchups_df = pd.read_csv('data/nfl-big-data-bowl-2024/matchups.csv')
matchups_df.head(40)

    matchup      gameId home away
0    LA_BUF  2022090800   LA  BUF
1    ATL_NO  2022091100  ATL   NO
2   CAR_CLE  2022091101  CAR  CLE
3    CHI_SF  2022091102  CHI   SF
4   CIN_PIT  2022091103  CIN  PIT
5   DET_PHI  2022091104  DET  PHI
6   HOU_IND  2022091105  HOU  IND
7    MIA_NE  2022091106  MIA   NE
8   NYJ_BAL  2022091107  NYJ  BAL
9   WAS_JAX  2022091109  WAS  JAX
10   ARI_KC  2022091110  ARI   KC
11   LAC_LV  2022091111  LAC   LV
12   MIN_GB  2022091112  MIN   GB
13  TEN_NYG  2022091108  TEN  NYG
14   DAL_TB  2022091113  DAL   TB
15  SEA_DEN  2022091200  SEA  DEN
16   KC_LAC  2022091500   KC  LAC
17  BAL_MIA  2022091800  BAL  MIA
18  CLE_NYJ  2022091801  CLE  NYJ
19  DET_WAS  2022091802  DET  WAS
20  JAX_IND  2022091803  JAX  IND
21    NO_TB  2022091804   NO   TB
22  NYG_CAR  2022091805  NYG  CAR
23   PIT_NE  2022091806  PIT   NE
24   LA_ATL  2022091807   LA  ATL
25   SF_SEA  2022091808   SF  SEA
26  DAL_CIN  2022091809  DAL  CIN
27  DEN_HOU  2022091810  DEN  HOU
28   LV_ARI  2022091811   LV  ARI
29   GB_CHI  2022091812   GB  CHI
30  BUF_TEN  2022091900  BUF  TEN
31  PHI_MIN  2022091901  PHI  MIN
32  CLE_PIT  2022092200  CLE  PIT
33   CAR_NO  2022092500  CAR   NO
34  CHI_HOU  2022092501  CHI  HOU
35   IND_KC  2022092502  IND   KC
36  MIA_BUF  2022092503  MIA  BUF
37  MIN_DET  2022092504  MIN  DET
38   NE_BAL  2022092505   NE  BAL
39  NYJ_CIN  2022092506  NYJ  CIN

In [3]:
plays_df = pd.read_csv('data/nfl-big-data-bowl-2024/plays.csv')
plays_df.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,...,0.976785,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,...,0.756661,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN

In [9]:
tracking_test_df=tracking_df[['gameId','club']].copy()
tracking_test_df.head()

       gameId club
0  2022090800  BUF
1  2022090800  BUF
2  2022090800  BUF
3  2022090800  BUF
4  2022090800  BUF