In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [2]:
players_df = pd.read_csv('data/nfl-big-data-bowl-2024/players.csv')
players_df.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [3]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(players_df):
    # Drop columns: 'nflId', 'height' and 3 other columns
    players_df = players_df.drop(columns=['nflId', 'height', 'weight', 'birthDate', 'collegeName'])
    return players_df

players_df_basic = clean_data(players_df.copy())
players_df_basic.head()

  position     displayName
0       QB       Tom Brady
1        T    Jason Peters
2       QB   Aaron Rodgers
3       TE  Marcedes Lewis
4       QB       Matt Ryan

In [4]:
players_df_basic.to_csv('data/nfl-big-data-bowl-2024/players_basic.csv', index=False)