In [14]:
 # Import modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

import sqlite3

In [4]:
conn = sqlite3.connect('data/sqlite/nfl_data.sqlite')
df = pd.read_sql('SELECT * FROM snap_formations', conn).set_index('play_uuid').dropna()

# Review the DataFrame
df.head()

,x0,y0,s0,a0,dis0,o0,dir0,x1,y1,s1,...,a21,dis21,o21,dir21,x22,y22,s22,a22,dis22,converted
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022090800.101,73.13,27.67,0.10,1.14,0.02,273.97,348.75,67.35,29.96,0.07,...,0.00,0.00,267.12,339.31,72.040001,29.520000,0.04,0.29,0.01,0
2022090800.1187,71.72,29.54,0.05,0.85,0.01,272.46,55.53,69.25,24.99,0.14,...,0.81,0.09,87.20,10.33,70.070000,29.610001,0.00,0.00,0.01,0
2022090800.1254,59.81,23.63,0.00,0.00,0.00,272.98,143.12,42.18,36.75,0.65,...,0.04,0.02,131.60,216.90,54.689999,23.879999,0.00,0.00,0.00,0
2022090800.1385,36.64,29.50,0.08,0.88,0.01,273.91,130.33,34.44,33.93,0.49,...,0.00,0.03,49.70,91.93,34.990002,29.730000,0.00,0.00,0.00,1
2022090800.1406,18.65,23.35,0.25,1.67,0.02,278.66,52.44,16.13,28.06,0.40,...,0.18,0.03,117.94,100.45,17.389999,23.340000,0.02,0.02,0.00,0

In [5]:
 # Seperate the features, X,  from the target variable, y
y = df['converted']
X = df.drop(columns=['converted'])

In [6]:
X

,x0,y0,s0,a0,dis0,o0,dir0,x1,y1,s1,...,s21,a21,dis21,o21,dir21,x22,y22,s22,a22,dis22
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022090800.101,73.13,27.67,0.10,1.14,0.02,273.97,348.75,67.35,29.96,0.07,...,0.00,0.00,0.00,267.12,339.31,72.040001,29.520000,0.04,0.29,0.01
2022090800.1187,71.72,29.54,0.05,0.85,0.01,272.46,55.53,69.25,24.99,0.14,...,0.94,0.81,0.09,87.20,10.33,70.070000,29.610001,0.00,0.00,0.01
2022090800.1254,59.81,23.63,0.00,0.00,0.00,272.98,143.12,42.18,36.75,0.65,...,0.04,0.04,0.02,131.60,216.90,54.689999,23.879999,0.00,0.00,0.00
2022090800.1385,36.64,29.50,0.08,0.88,0.01,273.91,130.33,34.44,33.93,0.49,...,0.00,0.00,0.03,49.70,91.93,34.990002,29.730000,0.00,0.00,0.00
2022090800.1406,18.65,23.35,0.25,1.67,0.02,278.66,52.44,16.13,28.06,0.40,...,0.32,0.18,0.03,117.94,100.45,17.389999,23.340000,0.02,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022110700.612,73.37,25.06,0.11,0.58,0.01,281.51,254.24,74.11,36.43,0.06,...,0.22,0.56,0.02,240.21,321.26,72.830002,29.920000,0.00,0.00,0.00
2022110700.670,82.37,19.86,0.29,1.71,0.02,256.40,302.59,80.80,22.52,0.13,...,0.00,0.00,0.04,172.38,162.23,81.779999,23.889999,0.00,0.00,0.00
2022110700.80,69.07,27.04,0.04,0.23,0.01,62.17,44.09,68.68,35.34,0.09,...,0.00,0.00,0.00,281.95,290.97,70.260002,29.990000,0.62,3.42,0.07
2022110700.929,76.34,35.18,0.00,0.08,0.00,95.97,142.30,77.70,31.41,0.08,...,0.60,0.76,0.05,174.30,226.59,77.029999,29.830000,0.00,0.00,0.01
2022110700.950,81.67,27.18,6.51,2.04,0.66,194.03,163.64,72.12,34.03,0.02,...,1.84,0.33,0.18,336.80,282.14,73.110001,29.900000,0.00,0.00,0.00

In [7]:
X = pd.get_dummies(X)
X.head()

,x0,y0,s0,a0,dis0,o0,dir0,x1,y1,s1,...,s21,a21,dis21,o21,dir21,x22,y22,s22,a22,dis22
play_uuid,,,,,,,,,,,,,,,,,,,,,
2022090800.101,73.13,27.67,0.10,1.14,0.02,273.97,348.75,67.35,29.96,0.07,...,0.00,0.00,0.00,267.12,339.31,72.040001,29.520000,0.04,0.29,0.01
2022090800.1187,71.72,29.54,0.05,0.85,0.01,272.46,55.53,69.25,24.99,0.14,...,0.94,0.81,0.09,87.20,10.33,70.070000,29.610001,0.00,0.00,0.01
2022090800.1254,59.81,23.63,0.00,0.00,0.00,272.98,143.12,42.18,36.75,0.65,...,0.04,0.04,0.02,131.60,216.90,54.689999,23.879999,0.00,0.00,0.00
2022090800.1385,36.64,29.50,0.08,0.88,0.01,273.91,130.33,34.44,33.93,0.49,...,0.00,0.00,0.03,49.70,91.93,34.990002,29.730000,0.00,0.00,0.00
2022090800.1406,18.65,23.35,0.25,1.67,0.02,278.66,52.44,16.13,28.06,0.40,...,0.32,0.18,0.03,117.94,100.45,17.389999,23.340000,0.02,0.02,0.00

In [8]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
 # Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Import the KNeighborsClassifier module from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the KNeighborsClassifier model with n_neighbors = 3
knn = KNeighborsClassifier(n_neighbors=10)

In [11]:
# Train the model using the training data
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=10)

In [12]:
# Create predictions using the testing data
y_pred = knn.predict(X_test_scaled)

In [15]:
print(confusion_matrix(y_test, y_pred))

[[1238   20]
 [ 314    3]]

In [13]:
 # Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.98      0.88      1258
           1       0.13      0.01      0.02       317

    accuracy                           0.79      1575
   macro avg       0.46      0.50      0.45      1575
weighted avg       0.66      0.79      0.71      1575